<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNganHang.Properties.Settings.QLNganHangConnectionString" connectionString="Data Source=QUYQUAN\SQLEXPRESS;Initial Catalog=QLNganHang;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QLNganHang.Properties.Settings.QLNganHangConnectionString1" connectionString="Data Source=NGMINHLUN884A\SQLEXPRESS;Initial Catalog=QLNganHang;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QLNganHang.Properties.Settings.QLNganHangConnectionString2" connectionString="Data Source=DESKTOP-0BEFH93;Initial Catalog=QLNganHang;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="QLNganHang.Properties.Settings.QLNganHangConnectionString3" connectionString="Data Source=DESKTOP-5OFF7U6\SQLEXPRESS;Initial Catalog=QLNganHang;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="QLNganHangEntities" connectionString="metadata=res://*/ModelQLNganHang.csdl|res://*/ModelQLNganHang.ssdl|res://*/ModelQLNganHang.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NGMINHLUN884A\SQLEXPRESS;initial catalog=QLNganHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>